<% content_for :title, "Shift ##{@shift.id}" %>

<main>
  <div class="header">
    <div class="row">
      <div class="page-title">
        <h1>Shift</h1>
      </div>
      <div class="page-actions">
        <% unless @shift.acknowledged %>
          <%= form_for(@shift, method: :patch) do |f| %>
            <%= f.hidden_field :acknowledged, value: true %>
            <%= button_tag type: :submit, class: "btn btn-success d-flex align-items-center" do %>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
              </svg>
              <span>
                Acknowledge Shift
              </span>
            <% end %> 
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <table class="table table-bordered">
    <tbody>
      <tr>
        <td><b>Name</b></td>
        <td><%= @shift.user.name %></td>
      </tr>
      <tr>
        <td><b>Email</b></td>
        <td><%= @shift.user.email %></td>
      </tr>
      <tr>
        <td><b>Employee ID</b></td>
        <td><%= @shift.user.employee_id %></td>
      </tr>
      <tr>
        <td><b>Starts At</b></td>
        <td><%= @shift.start_time.strftime('%d/%m/%Y - %H:%M') %></td>
      </tr>
      <tr>
        <td><b>Ends At</b></td>
        <td><%= @shift.end_time.strftime('%d/%m/%Y - %H:%M') %></td>
      </tr>
      <tr>
        <td><b>Acknowledged</b></td>
        <td>
          <% if @shift.acknowledged %>
            <span class="badge text-bg-success">
              Acknowledged
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
              </svg>
            </span>
          <% else %>
            <span class="badge text-bg-secondary">
              Pending
            </span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td><b>Notes</b></td>
        <td><%= @shift.notes %></td>
      </tr>
    </tbody>
  </table>
</main>

<%= link_to sanitize("&larr; Back to shifts"), shifts_path %>
